.appeal {
    &__container {
    }

    &__body {
        display: flex;
        justify-content: space-between;
        @include tablet{
            display: none;
        }
    }

    &__info {
        flex: 0 1 40%;
        display: flex;
        flex-direction: column;
        min-height: 100%;
        justify-content: space-between;
        position: relative;
    }

    &__title {
        margin-right: 20px;
        @include tablet{
            margin-right: 0;
            margin-bottom: 32px;
        }
    }

    &__socials {
        display: flex;
        gap: 8px;
        align-items:center;
        position: absolute;
        bottom: 0;
        left: 0;
        @include small-tablet{
           justify-content: center;
        }
    }

    &__social {
        width: 63px;
        height: 63px;
        background-color: var(--gray-light);
        display: flex;
        justify-content:center;align-items: center;
        border-radius: 50%;
        svg{
            fill: var(--dark);
            use{
                stroke: none;
            }
        }
        @include mobile{
            width: 48px;
            height: 48px;
            svg{
                width: 20px;
                height: 20px;
            }
        }
    }

    &__ask {
        max-width: 150px;
        padding: 0px 0px 0px 8px;
    }

    &__column {
        flex: 0 1 50%;
    }

    &__sub-title {
        font-size: #{fluid(24px, 36px, 375px, 1920px)};
        padding: 0px 0px 32px 0px;
        &.pb-16{
            padding: 0px 0px 16px 0px;
        }
    }

    &__comment {
        border-left: 5px solid var(--gray-light);
        padding-left: 32px;
        &-image{
            margin-top: 24px;
            @include tablet{
                margin: -16px 0 32px 0;
            }
        }
    }

    &__link {
        margin: 0px 0px 48px 0px;
    }

    &__mobile{
        display: none;
        .video__wrapper{
            margin: 0px 0px 32px 0px;
            @include small-tablet{
                height: 488px;
            }
        }
        .appeal__socials{
            position: relative;
        }
        @include tablet{
            display: flex;
            flex-direction: column;
        }
    }

    &__button{
        max-width: 360px;
        margin: 0px 0px 24px 0px;
        @include small-tablet{
            max-width: 100%;
            margin: 0px 0px 16px 0px;
        }
    }

    &__wrapper{
        display: flex;
        gap: 8px;
        margin: 0px 0px 32px 0px;
        @include tablet{
            flex-wrap: wrap;
        }
    }
    &__inner{
        flex: 0 1 calc(33.3333% - 8px);
        background-color: var(--gray-light);
        border-radius: 22px;
        min-height: 310px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @include small-tablet{
            flex: 0 1 calc(50% - 8px);
        }
        @include mobile{
            flex: 0 1 100%;
            min-height: 225px;
        }
    }

    &__number{
        font-weight: 600;
        font-size: 48px;
    }

    &__help{
        margin: 0px 0px 16px 0px;
        font-weight: 600;
    }
    &__list{
        margin-bottom: 32px;
        padding-left: 28px;
        max-width: 670px;
        @include tablet{
            margin-bottom: 0;
        }
        li{
            &:not(:last-child) {margin-bottom: 8px;};
        }
    }

    .social-whatsapp{
        @include mobile{
            svg{
                width: 24px;
                height: 24px;
            }
        }
    }
}

.appeal-leasing{
    .appeal__column{
        flex: 0 1 52%;
    }
    .appeal__title{
        @include small-tablet{
            margin-bottom: 16px;
        }
    }
    .appeal__number{
        font-size: 32px;
        color: var(--red);
        text-transform: uppercase;
    }
    .appeal__help{
        font-weight: 400;
    }
    .appeal__list{
        li{
            color: var(--red);
            span{
                color: var(--dark);
            }
        }
    }
    .appeal__button{
        margin: 64px 0 0 0;
        @include small-tablet{
            margin-top: 24px;
        }
    }
    .appeal__body{
        @include tablet{
            display: flex;
            flex-direction: column;
        }
    }
    .appeal__socials{
        &-mobile{
            display: none;
            position: relative;
        }
        @include tablet{
            display: none;
            &-mobile{
                margin-top: 16px;
                display: flex;
            }
        }
    }
}