.breadcrumblist {
    &__container {
        ol{
            display: flex;
            align-items:center;
            li{
                &:not(:last-child) {margin-right: 8px;}
                font-size: 14px;
                a{
                    &.active{
                        color: var(--dark-60);
                    }
                }
            }
        }
    }

    &__line{
        width: 10px;
        height: 1px;
        background-color: var(--dark-40);
        display: block;
    }
}
