.breadcrumblist {
    padding: 150px 0px 0px 0px;
    @include small-tablet{
        padding: 64px 0px 0px 0px;
    }
    &__container {
        ol{
            display: flex;
            align-items:center;
            flex-wrap: wrap;
            li{
                &:not(:last-child) {margin-right: 8px;}
                margin: 0px 0px 8px 0px;
                font-size: 14px;
                a{
                    &.active{
                        color: var(--dark-60);
                    }
                }
            }
        }
    }

    &__line{
        width: 10px;
        height: 1px;
        background-color: var(--dark-40);
        display: block;
    }
}
