.icon-menu{
	display: none;
	@media (max-width:768px){
		display: block;
		position: relative;
		width: 24px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.5s ease 0s;
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: var(--red);
		}
		&::before {
			top: 0px;
		}
		&::after {
			bottom: 0px;
		}
		span {
            width: 15px;
			top: calc(50% - 1px);
            right: 0;
            left: unset;
		}
		&.active {
			span {
				transform: scale(0);
			}
			&::before {
				transform: rotate(-45deg);
				top: calc(50% - 1px);
			}
			&::after {
				transform: rotate(45deg);
				bottom: calc(50% - 1px);
			}
		}
	}
}