.help {

    &-gray{
        input, textarea{
            background-color: var(--white);
        }
    }

    &__container {
    }

    &__wrapper{
        padding: 64px 0;
    }

    &__body {
        display: flex;
        justify-content: space-between;
        @include big-desktop{
            flex-direction: column;   
        }
    }

    &__title {
        max-width: 670px;
        margin: 0px 0px 32px 0px;
    }

    &__block{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 700px;
        .help__text{
            margin: 0;
            @include big-desktop{
                margin: 0px 0px 32px 0px;
            }
        }
    }

    &__column {
        flex: 0 1 50%;
    }

    &__sub-title {
        font-size: #{fluid(24px, 36px, 320px, 1920px)};
    }

    &__text {
        margin: 0px 0px 32px 0px;
    }

    &__form {
    }

    &__inputs {
        display: flex;
        gap: 16px;
        margin: 0px 0px 16px 0px;
        @include mobile{
            flex-direction: column;
        }
    }

    &__input {
        flex: 0 1 50%;
        display: flex;
        flex-direction: column;
    }

    &__textarea {
        display: flex;
        flex-direction: column;
        margin: 0px 0px 8px 0px;
    }

    &__comment {
        min-height: 128px;
    }

    &__check {
        margin: 0px 0px 32px 0px;
       label{
        display: flex;
        align-items:center;
       }
    }

    &__checkbox {
        margin: 0px 8px 0px 0px;
        position: relative;
        max-width: 20px;
        height: 20px;
        background: var(--white);
        border: 1px solid var(--dark-40);
        transition: all 0.15s ease-out 0s;
        border-radius: 4px;
        appearance: none;
        cursor: pointer;
        &:hover{
            border-color: var(--red-light);
        }
        &::before{
            content: '';
            position: absolute;
            top: 2px;
            left: 7px;
            width: 6px;
            height: 11px;
            border: 2px solid transparent;
            border-left: none;
            border-top: none;
            transform: rotate(45deg) scale(1);
        }
        &:checked{
            background-color: var(--red-light);
            border-color: var(--red-light);
            &::before{
                border-color: var(--white);
            }
        }

        
    }

    &__confirm {
        display: flex;
        gap: 16px;
        @include small-tablet{
            flex-direction: column;
        }
    }

    &__button {
        border: none;
        font-weight: 500;
        width: 325px;
        @include small-tablet{
            width: 100%;
        }
    }

    &__socials {
        gap: 8px;
        display: flex;
        align-items:center;
        justify-content: center;
    }

    .social-whatsapp{
        @include small-tablet{
            svg{
                width: 24px;
                height: 24px;
            }
        }
    }
}
