.primary-three{
    
    .primary__body{
        padding-bottom: 400px;
    }

    .primary__bg-primary{
        position: absolute;
        top: unset;
        @include small-tablet{
            right: 0;
            img{
                height: 400px;
            }
        }
    }
}

.primary-three{
    @include small-desktop{
        .primary__body{
            padding-bottom: 0;
        }

        .primary__bg-primary{
            position: relative;
            right: 0;
            img{
                height: 100%;
            }
        }
    }
}

