.review {
    padding: #{fluid(64px, 150px, 375px, 1920px)} 0;
    position: relative;
    margin-top: 75px;
    @include small-tablet{
        margin-top: 32px;
    }
    &__bg{
        position: absolute;
        top: #{fluid(0px, 60px, 1440px, 1920px)};
        right: 0;
        @include tablet{
            display: none;
        }
    }

    &__container {
        position: relative;
        z-index: 2;
    }

    &__title {
        margin-bottom: #{fluid(32px, 68px, 375px, 1920px)};
    }

    &__swiper {

    }

    &__columns {
        display: flex;
        margin: 0px 0px 32px 0px;
        @include small-tablet{
            margin: 0px 0px 16px 0px;
         } 
    }

    &__column {
       width: calc(33.3333% - 16px);
        height: unset;
        .video__wrapper{
            height: 100%;
        }
        @include big-desktop{
            width: calc(40% - 16px);
        }
        @include tablet{
            width: calc(50% - 16px);
        }
        @include small-tablet{
            width: calc(75% - 8px);
        }
        @include mobile{
            width: calc(100% - 6px);
        }
    }

    &__item{
        background-color: var(--white);
        border-radius: 22px;
        display: flex;
        flex-direction: column;
        min-height: 100%;
        @include mobile{
            position: relative;
            overflow: hidden;
            max-height: 19em;
            transition: max-height 0.5s ease;
            &.show-full {
                max-height: 1000px;
                .review__more-text{
                    opacity: 1;
                     height: 100%;
                }
            }
        }
    }

    &__grade {
        display: flex;
        justify-content: space-between;
        align-items:center;
        margin: 0px 0px 32px 0px;
        @include mobile{
            flex-direction: column-reverse;
            align-items: flex-start;
            margin: 0px 0px 16px 0px;
        }
    }

    &__name {
        font-weight: 600;
    }

    &__rating {
        padding: 0px 0px 8px 0px;
        svg{
            fill: var(--red-light);
            use{
                stroke: none;
            }
        }
    }

    &__text {
        flex: 1 1 auto;
    }

    &__more-text{
        @include mobile{
            display: block;
            height: 0;
            opacity: 0;
            transition: all 0.5s ease 0s;
        }
    }

    &__button {
        font-weight: 500;
        color: var(--red-light);
        position: relative;
        z-index: 1;
        margin: 16px 0px 0px 0px;
    }

    &__controls {
        display: flex;
        justify-content: space-between;
        @include tablet{
            justify-content: center;
        }
    }

    &__navigation {
        display: flex;
        gap: 32px;
        .swiper-button{
            background-color: var(--white);
            
            &:hover{
                background-color: var(--red-light);
                svg{
                    transition: all 0.3s ease 0s;
                    fill: var(--white);
                }
            }
        }
    }

    &__button-prev {
    }

    &__pagination {
        bottom: 0 !important;
    }

    &__button-next {
    }

    &__link {
        &-mobile{
            display: none;
            margin: 0px 0px 16px 0px;
            @include tablet{
                display: flex;
             } 
        }
        @include tablet{
            display: none;
         } 
    }
    
    &-gray{
        background-color: var(--gray-light);
    }

    &-margin{
        width: 33.33333%;
        padding: 0 8px;
        margin-bottom: 16px;
        min-height: 443px;
        @include big-desktop{
            width: 50%;
        }
        @include tablet{
            min-height: 343px;
        }
        @include small-tablet{
            width: 100%;
            &:not(:last-child) {margin-right: 0px;};
        }
    }
    
}
