<section class="help pd">
    <div class="help__container container">
        <div class="help__body">
            <h2 class="help__title title-section">У вас нестандартная ситуация?</h2>
            <div class="help__column">
                <p class="help__sub-title mb-32a">Получен отказ в кредите, нет первоначального взноса на ипотеку или денежные средства нужны в кротчайшие сроки?</p>
                <p class="help__text">Проанализируем вашу ситуацию и предложим несколько вариантов решения проблемы. Подберём оптимальные условия кредитования. согласуем минимальную процентную ставку и одобрим кредит на самых выгодных для вас условиях.</p>
                <form method="post" action="#" id="helpform1" class="help__form">
                    <div class="help__inputs">
                        <div class="help__input">
                            <label for="name">Имя <span>*</span></label>
                            <input name="name" id="name" type="text" placeholder="Ваше имя" class="input-help help__name" required>
                        </div>
                        <div class="help__input">
                            <label for="phone">Номер телефона <span>*</span></label>
                            <input name="phone" id="phone" type="tel" placeholder="999 123 45 67" class="input-help help__phone" required>
                        </div>
                    </div>
                    <div class="help__textarea">
                        <label for="comment">Комментарий <span>*</span></label>
                        <textarea name="comment" id="comment" placeholder="Опишите вашу ситуацию" class="help__comment input-help"></textarea>
                    </div>
                    <div class="help__check">
                        <label for="agreement">
                            <input type="checkbox" id="agreement" name="agreement" class="help__checkbox" required>Даю своё согласие на обработку персональных данных
                        </label>
                    </div>
                    <div class="help__confirm">
                        <button type="submit" class="help__button btn btn-black">Бесплатная консультация</button>
                        <div class="help__socials">
                            <a href="#" class="appeal__social social">
                                <svg width="24" height="24">
                                    <use xlink:href="./img/sprite.svg#tg"></use>
                                </svg>
                            </a>
                            <a href="#" class="appeal__social social social-whatsapp">
                                <svg width="32" height="32">
                                    <use xlink:href="./img/sprite.svg#whatsapp"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>