<section class="news pd">
    <div class="news__container container">
        <div class="news__controls">
            <h2 class="news__title title-section">Наши новости</h2>
            <div class="news__navigation">
                <div class="swiper-button news__button-prev swiper-button-prev">
                    <svg width="20" height="24">
                        <use xlink:href="./img/sprite.svg#arrow-line"></use>
                    </svg>
                </div>
                <div class="swiper-button news__button-next swiper-button-next">
                    <svg width="20" height="24">
                        <use xlink:href="./img/sprite.svg#arrow-line"></use>
                    </svg>
                </div>
            </div>   
        </div>
        <div class="news__swiper swiper">
            <div class="news__columns swiper-wrapper">
                <div class="news__column pd-32 swiper-slide">
                    <div class="news__times">
                        <time class="news__date">26</time>
                        <time class="news__time">
                            Май
                            <br>
                            2024
                        </time>
                    </div>
                    <div class="news__content">
                        <p class="news__sub-title">Управляйте долгами эффективно</p>
                        <p class="news__text">От экономии времени и ресурсов до возможности переноса и долговечности — узнайте, почему модульные дома становятся предпочтительным выбором для многих семей.</p>
                        <div class="news__bg">
                            <img src="img/news1.webp" alt="news">
                        </div>
                    </div>
                </div>
                <div class="news__column pd-32 swiper-slide">
                    <div class="news__times">
                        <time class="news__date">24</time>
                        <time class="news__time">
                            Май
                            <br>
                            2024
                        </time>
                    </div>
                    <div class="news__content">
                        <p class="news__sub-title">Выгодные кредиты на образование</p>
                        <p class="news__text">Выгодные кредиты на образование
                            Обеспечьте себе доступное образование с нашим подробным гидом по кредитам. Мы расскажем, как получить выгодные условия, минимизировать расходы и сделать образование доступным для каждого.</p>
                        <div class="news__bg">
                            <img src="img/news1.webp" alt="news">
                        </div>
                    </div>
                </div>
                <div class="news__column pd-32 swiper-slide">
                    <div class="news__times">
                        <time class="news__date">22</time>
                        <time class="news__time">
                            Май
                            <br>
                            2024
                        </time>
                    </div>
                    <div class="news__content">
                        <p class="news__sub-title">Рефинансирования с низкой ставкой</p>
                        <p class="news__text">Узнайте о нашей новой программе рефинансирования, предоставляющей клиентам возможность снизить процентные ставки и сэкономить на выплатах. Сделайте свои финансы более устойчивыми и эффективными с 'ИпотекаПросто'</p>
                        <div class="news__bg">
                            <img src="img/news1.webp" alt="news">
                        </div>
                    </div>
                </div>
                <div class="news__column pd-32 swiper-slide">
                    <div class="news__times">
                        <time class="news__date">19</time>
                        <time class="news__time">
                            Май
                            <br>
                            2024
                        </time>
                    </div>
                    <div class="news__content">
                        <p class="news__sub-title">Управляйте долгами эффективно</p>
                        <p class="news__text">От экономии времени и ресурсов до возможности переноса и долговечности — узнайте, почему модульные дома становятся предпочтительным выбором для многих семей.</p>
                        <div class="news__bg">
                            <img src="img/news1.webp" alt="news">
                        </div>
                    </div>
                </div>
                <div class="news__column pd-32 swiper-slide">
                    <div class="news__times">
                        <time class="news__date">26</time>
                        <time class="news__time">
                            Май
                            <br>
                            2024
                        </time>
                    </div>
                    <div class="news__content">
                        <p class="news__sub-title">Управляйте долгами эффективно</p>
                        <p class="news__text">От экономии времени и ресурсов до возможности переноса и долговечности — узнайте, почему модульные дома становятся предпочтительным выбором для многих семей.</p>
                        <div class="news__bg">
                            <img src="img/news1.webp" alt="news">
                        </div>
                    </div>
                </div>
                <div class="news__column pd-32 swiper-slide">
                    <div class="news__times">
                        <time class="news__date">24</time>
                        <time class="news__time">
                            Май
                            <br>
                            2024
                        </time>
                    </div>
                    <div class="news__content">
                        <p class="news__sub-title">Выгодные кредиты на образование</p>
                        <p class="news__text">Выгодные кредиты на образование
                            Обеспечьте себе доступное образование с нашим подробным гидом по кредитам. Мы расскажем, как получить выгодные условия, минимизировать расходы и сделать образование доступным для каждого.</p>
                        <div class="news__bg">
                            <img src="img/news1.webp" alt="news">
                        </div>
                    </div>
                </div>
                <div class="news__column pd-32 swiper-slide">
                    <div class="news__times">
                        <time class="news__date">22</time>
                        <time class="news__time">
                            Май
                            <br>
                            2024
                        </time>
                    </div>
                    <div class="news__content">
                        <p class="news__sub-title">Рефинансирования с низкой ставкой</p>
                        <p class="news__text">Узнайте о нашей новой программе рефинансирования, предоставляющей клиентам возможность снизить процентные ставки и сэкономить на выплатах. Сделайте свои финансы более устойчивыми и эффективными с 'ИпотекаПросто'</p>
                        <div class="news__bg">
                            <img src="img/news1.webp" alt="news">
                        </div>
                    </div>
                </div>
                <div class="news__column pd-32 swiper-slide">
                    <div class="news__times">
                        <time class="news__date">19</time>
                        <time class="news__time">
                            Май
                            <br>
                            2024
                        </time>
                    </div>
                    <div class="news__content">
                        <p class="news__sub-title">Управляйте долгами эффективно</p>
                        <p class="news__text">От экономии времени и ресурсов до возможности переноса и долговечности — узнайте, почему модульные дома становятся предпочтительным выбором для многих семей.</p>
                        <div class="news__bg">
                            <img src="img/news1.webp" alt="news">
                        </div>
                    </div>
                </div>
            </div>
            <div class="news__pagination pagination swiper-pagination"></div>
        </div>
    </div>
</section>

