<section class="partners pd">
    <div class="partners__container container">
        <h2 class="partners__title title-section">Наши партнёры: банки и застройщики</h2>
    </div>
    <div class="partners__body">
        <div class="partners__list partners__list-1">
            <div class="partners__copy">
                <div class="partners__item">
                    <img src="img/partners1.webp" alt="partners">
                </div>
                <div class="partners__item">
                    <img src="img/partners2.webp" alt="partners">
                </div>
                <div class="partners__item">
                    <img src="img/partners3.webp" alt="partners">
                </div>
                <div class="partners__item">
                    <img src="img/partners4.webp" alt="partners">
                </div>
                <div class="partners__item">
                    <img src="img/partners5.webp" alt="partners">
                </div>
                <div class="partners__item">
                    <img src="img/partners1.webp" alt="partners">
                </div>
                <div class="partners__item">
                    <img src="img/partners2.webp" alt="partners">
                </div>
                <div class="partners__item">
                    <img src="img/partners3.webp" alt="partners">
                </div>
                <div class="partners__item">
                    <img src="img/partners4.webp" alt="partners">
                </div>
                <div class="partners__item">
                    <img src="img/partners5.webp" alt="partners">
                </div>
            </div>
            <div class="partners__copy">
                <div class="partners__item">
                    <img src="img/partners1.webp" alt="partners">
                </div>
                <div class="partners__item">
                    <img src="img/partners2.webp" alt="partners">
                </div>
                <div class="partners__item">
                    <img src="img/partners3.webp" alt="partners">
                </div>
                <div class="partners__item">
                    <img src="img/partners4.webp" alt="partners">
                </div>
                <div class="partners__item">
                    <img src="img/partners5.webp" alt="partners">
                </div>
                <div class="partners__item">
                    <img src="img/partners1.webp" alt="partners">
                </div>
                <div class="partners__item">
                    <img src="img/partners2.webp" alt="partners">
                </div>
                <div class="partners__item">
                    <img src="img/partners3.webp" alt="partners">
                </div>
                <div class="partners__item">
                    <img src="img/partners4.webp" alt="partners">
                </div>
                <div class="partners__item">
                    <img src="img/partners5.webp" alt="partners">
                </div>
            </div>
            <div class="partners__copy">
                <div class="partners__item">
                    <img src="img/partners1.webp" alt="partners">
                </div>
                <div class="partners__item">
                    <img src="img/partners2.webp" alt="partners">
                </div>
                <div class="partners__item">
                    <img src="img/partners3.webp" alt="partners">
                </div>
                <div class="partners__item">
                    <img src="img/partners4.webp" alt="partners">
                </div>
                <div class="partners__item">
                    <img src="img/partners5.webp" alt="partners">
                </div>
                <div class="partners__item">
                    <img src="img/partners1.webp" alt="partners">
                </div>
                <div class="partners__item">
                    <img src="img/partners2.webp" alt="partners">
                </div>
                <div class="partners__item">
                    <img src="img/partners3.webp" alt="partners">
                </div>
                <div class="partners__item">
                    <img src="img/partners4.webp" alt="partners">
                </div>
                <div class="partners__item">
                    <img src="img/partners5.webp" alt="partners">
                </div>
            </div>
            <div class="partners__copy">
                <div class="partners__item">
                    <img src="img/partners1.webp" alt="partners">
                </div>
                <div class="partners__item">
                    <img src="img/partners2.webp" alt="partners">
                </div>
                <div class="partners__item">
                    <img src="img/partners3.webp" alt="partners">
                </div>
                <div class="partners__item">
                    <img src="img/partners4.webp" alt="partners">
                </div>
                <div class="partners__item">
                    <img src="img/partners5.webp" alt="partners">
                </div>
                <div class="partners__item">
                    <img src="img/partners1.webp" alt="partners">
                </div>
                <div class="partners__item">
                    <img src="img/partners2.webp" alt="partners">
                </div>
                <div class="partners__item">
                    <img src="img/partners3.webp" alt="partners">
                </div>
                <div class="partners__item">
                    <img src="img/partners4.webp" alt="partners">
                </div>
                <div class="partners__item">
                    <img src="img/partners5.webp" alt="partners">
                </div>
            </div>
        </div>
        <div class="partners__list partners__list-2">
            <div class="partners__copy">
                <div class="partners__item">
                    <img src="img/partners1.webp" alt="partners">
                </div>
                <div class="partners__item">
                    <img src="img/partners2.webp" alt="partners">
                </div>
                <div class="partners__item">
                    <img src="img/partners3.webp" alt="partners">
                </div>
                <div class="partners__item">
                    <img src="img/partners4.webp" alt="partners">
                </div>
                <div class="partners__item">
                    <img src="img/partners5.webp" alt="partners">
                </div>
                <div class="partners__item">
                    <img src="img/partners1.webp" alt="partners">
                </div>
                <div class="partners__item">
                    <img src="img/partners2.webp" alt="partners">
                </div>
                <div class="partners__item">
                    <img src="img/partners3.webp" alt="partners">
                </div>
                <div class="partners__item">
                    <img src="img/partners4.webp" alt="partners">
                </div>
                <div class="partners__item">
                    <img src="img/partners5.webp" alt="partners">
                </div>
            </div>
            <div class="partners__copy">
                <div class="partners__item">
                    <img src="img/partners1.webp" alt="partners">
                </div>
                <div class="partners__item">
                    <img src="img/partners2.webp" alt="partners">
                </div>
                <div class="partners__item">
                    <img src="img/partners3.webp" alt="partners">
                </div>
                <div class="partners__item">
                    <img src="img/partners4.webp" alt="partners">
                </div>
                <div class="partners__item">
                    <img src="img/partners5.webp" alt="partners">
                </div>
                <div class="partners__item">
                    <img src="img/partners1.webp" alt="partners">
                </div>
                <div class="partners__item">
                    <img src="img/partners2.webp" alt="partners">
                </div>
                <div class="partners__item">
                    <img src="img/partners3.webp" alt="partners">
                </div>
                <div class="partners__item">
                    <img src="img/partners4.webp" alt="partners">
                </div>
                <div class="partners__item">
                    <img src="img/partners5.webp" alt="partners">
                </div>
            </div>
            <div class="partners__copy">
                <div class="partners__item">
                    <img src="img/partners1.webp" alt="partners">
                </div>
                <div class="partners__item">
                    <img src="img/partners2.webp" alt="partners">
                </div>
                <div class="partners__item">
                    <img src="img/partners3.webp" alt="partners">
                </div>
                <div class="partners__item">
                    <img src="img/partners4.webp" alt="partners">
                </div>
                <div class="partners__item">
                    <img src="img/partners5.webp" alt="partners">
                </div>
                <div class="partners__item">
                    <img src="img/partners1.webp" alt="partners">
                </div>
                <div class="partners__item">
                    <img src="img/partners2.webp" alt="partners">
                </div>
                <div class="partners__item">
                    <img src="img/partners3.webp" alt="partners">
                </div>
                <div class="partners__item">
                    <img src="img/partners4.webp" alt="partners">
                </div>
                <div class="partners__item">
                    <img src="img/partners5.webp" alt="partners">
                </div>
            </div>
            <div class="partners__copy">
                <div class="partners__item">
                    <img src="img/partners1.webp" alt="partners">
                </div>
                <div class="partners__item">
                    <img src="img/partners2.webp" alt="partners">
                </div>
                <div class="partners__item">
                    <img src="img/partners3.webp" alt="partners">
                </div>
                <div class="partners__item">
                    <img src="img/partners4.webp" alt="partners">
                </div>
                <div class="partners__item">
                    <img src="img/partners5.webp" alt="partners">
                </div>
                <div class="partners__item">
                    <img src="img/partners1.webp" alt="partners">
                </div>
                <div class="partners__item">
                    <img src="img/partners2.webp" alt="partners">
                </div>
                <div class="partners__item">
                    <img src="img/partners3.webp" alt="partners">
                </div>
                <div class="partners__item">
                    <img src="img/partners4.webp" alt="partners">
                </div>
                <div class="partners__item">
                    <img src="img/partners5.webp" alt="partners">
                </div>
            </div>
        </div>
    </div>
</section>