<section class="review pd container-big">
    <div class="review__container container">
        <h2 class="review__title title-section">1000+ довольных клиентов</h2>
        <a href="#" class="review__link-mobile link-refer">Смотреть все отзывы
            <svg width="20" height="24">
                <use xlink:href="./img/sprite.svg#arrow-line"></use>
            </svg>
        </a>
        <div class="review__swiper swiper">
            <div class="review__columns swiper-wrapper">
                <div class="review__column swiper-slide">
                    @include('../partials/video.html', {
                        'imageSrc': 'img/review1.webp',
                        'videoSrc': 'https://www.youtube.com/embed/HOfdboHvshg?autoplay=1',
                        })
                </div>
                <div class="review__column swiper-slide">
                    <div class="review__item pd-32">
                        <div class="review__grade">
                            <p class="review__name fz-24">Елена Семёнова</p>
                            <div class="review__rating">
                                <svg width="20" height="20">
                                    <use xlink:href="./img/sprite.svg#Star"></use>
                                </svg> 
                                <svg width="20" height="20">
                                    <use xlink:href="./img/sprite.svg#Star"></use>
                                </svg> 
                                <svg width="20" height="20">
                                    <use xlink:href="./img/sprite.svg#Star"></use>
                                </svg> 
                                <svg width="20" height="20">
                                    <use xlink:href="./img/sprite.svg#Star"></use>
                                </svg> 
                                <svg width="20" height="20">
                                    <use xlink:href="./img/sprite.svg#Star"></use>
                                </svg> 
                            </div>
                        </div>
                        <div class="review__text">Спасибо огромное Карине и Анне! Обратились по поводу ипотеки, нам все доступно объяснили, что сначала необходимо снизить кредитную нагрузку и оформить рефинансирование, причём ещё была сложность в наличии у нас незакрытой кредитки, оперативно все решили, грамотно,чётко, всегда были на связи! Первый этап на пути к нашей мечте пройден! Теперь будем двигаться дальше!</div>
                        <div class="review__button">Оригинал отзыва</div>
                    </div>
                </div>
                <div class="review__column swiper-slide">
                    @include('../partials/video.html', {
                        'imageSrc': 'img/review2.webp',
                        'videoSrc': 'https://www.youtube.com/embed/7LdRiXy4mvg?autoplay=1',
                        })
                </div>
                <div class="review__column swiper-slide">
                    @include('../partials/video.html', {
                        'imageSrc': 'img/review1.webp',
                        'videoSrc': 'https://www.youtube.com/embed/HOfdboHvshg?autoplay=1',
                        })
                </div>
                <div class="review__column swiper-slide">
                    <div class="review__item pd-32">
                        <div class="review__grade">
                            <p class="review__name fz-24">Елена Семёнова</p>
                            <div class="review__rating">
                                <svg width="20" height="20">
                                    <use xlink:href="./img/sprite.svg#Star"></use>
                                </svg> 
                                <svg width="20" height="20">
                                    <use xlink:href="./img/sprite.svg#Star"></use>
                                </svg> 
                                <svg width="20" height="20">
                                    <use xlink:href="./img/sprite.svg#Star"></use>
                                </svg> 
                                <svg width="20" height="20">
                                    <use xlink:href="./img/sprite.svg#Star"></use>
                                </svg> 
                                <svg width="20" height="20">
                                    <use xlink:href="./img/sprite.svg#Star"></use>
                                </svg> 
                            </div>
                        </div>
                        <div class="review__text">Спасибо огромное Карине и Анне! Обратились по поводу ипотеки, нам все доступно объяснили, что сначала необходимо снизить кредитную нагрузку и оформить рефинансирование, причём ещё была сложность в наличии у нас незакрытой кредитки, оперативно все решили, грамотно,чётко, всегда были на связи! Первый этап на пути к нашей мечте пройден! Теперь будем двигаться дальше!</div>
                        <div class="review__button">Оригинал отзыва</div>
                    </div>
                </div>
                <div class="review__column swiper-slide">
                    @include('../partials/video.html', {
                        'imageSrc': 'img/review2.webp',
                        'videoSrc': 'https://www.youtube.com/embed/HOfdboHvshg?autoplay=1',
                        })
                </div>
            </div>
            <div class="review__controls">
                <div class="review__navigation">
                    <div class="swiper-button review__button-prev swiper-button-prev">
                        <svg width="20" height="24">
                            <use xlink:href="./img/sprite.svg#arrow-line"></use>
                        </svg>
                    </div>
                    <div class="review__pagination pagination swiper-pagination"></div>
                    <div class="swiper-button review__button-next swiper-button-next">
                        <svg width="20" height="24">
                            <use xlink:href="./img/sprite.svg#arrow-line"></use>
                        </svg>
                    </div>
                </div>
                <a href="#" class="review__link link-refer arr-rt">Смотреть все отзывы
                    <svg width="20" height="24">
                        <use xlink:href="./img/sprite.svg#arrow-line"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
    <div class="review__bg">
        <img src="img/city-small.webp" alt="city">
    </div>
</section>