<section class="situation pd">
    <div class="situation__container container">
        <div class="situation__body">
            <div class="situation__texts">
                <h2 class="situation__title title-section mb-32a">Помогаем даже в самых сложных ситуациях</h2>
                <p class="situation__sub-title fz-24"><span>98%</span> наших клиентов получили одобрение</p>
            </div>
            <div class="situation__swiper swiper">
                <div class="situation__columns swiper-wrapper">
                    <div class="situation__column swiper-slide">
                        <div class="situation__left pd-32">
                            <div class="situation__person">
                                <div class="situation__avatar">
                                    <img src="img/avatar.webp" alt="avatar">
                                </div>
                                <p class="situation__name">Данил</p>
                                <p class="situation__job">Клиент</p>
                            </div>
                            <div class="situation__point fz-24"><span>Цель: покупка дома на вторичном рынке</span></div>
                            <div class="situation__describe">
                                <p class="situation__text">Жизненная ситуация:</p>
                                <ul class="situation__list">
                                    <li>Ранее получены 3 отказа в банках</li>
                                    <li>Система налогообложения ЕНВД с 0 декларациями</li>
                                    <li>Стаж ИП 1 год</li>
                                    <li>Покупка дома у родственников</li>
                                    <li>Отсутствие кредитной истории</li>
                                    <li>Отсутствие военного билета</li>
                                </ul>
                            </div>
                        </div>
                        <div class="situation__right pd-32">
                            <p class="situation__text fz-24"><span>Результат</span></p>
                            <p class="situation__result">Получено одобрение на покупку дома с ЗУ</p>
                            <ul class="situation__list-result list-reset">
                                <li>Срок: <span>2 дня</span></li>
                                <li>Ставка: <span>10,5%</span></li>
                                <li>Сумма кредита:<span></span>2 300 000 ₽</li>
                            </ul>
                            <a href="#" class="situation__link arr-rt">Больше кейсов
                                <svg width="20" height="24">
                                    <use xlink:href="./img/sprite.svg#arrow-line"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="situation__column swiper-slide">
                        <div class="situation__left pd-32">
                            <div class="situation__person">
                                <div class="situation__avatar">
                                    <img src="img/avatar.webp" alt="avatar">
                                </div>
                                <p class="situation__name">Данил</p>
                                <p class="situation__job">Клиент</p>
                            </div>
                            <div class="situation__point fz-24"><span>Цель: покупка дома на вторичном рынке</span></div>
                            <div class="situation__describe">
                                <p class="situation__text">Жизненная ситуация:</p>
                                <ul class="situation__list">
                                    <li>Ранее получены 3 отказа в банках</li>
                                    <li>Система налогообложения ЕНВД с 0 декларациями</li>
                                    <li>Стаж ИП 1 год</li>
                                    <li>Покупка дома у родственников</li>
                                    <li>Отсутствие кредитной истории</li>
                                    <li>Отсутствие военного билета</li>
                                </ul>
                            </div>
                        </div>
                        <div class="situation__right pd-32">
                            <p class="situation__text fz-24"><span>Результат</span></p>
                            <p class="situation__result">Получено одобрение на покупку дома с ЗУ</p>
                            <ul class="situation__list-result list-reset">
                                <li>Срок: <span>2 дня</span></li>
                                <li>Ставка: <span>10,5%</span></li>
                                <li>Сумма кредита:<span></span>2 300 000 ₽</li>
                            </ul>
                            <a href="#" class="situation__link arr-rt">Больше кейсов
                                <svg width="20" height="24">
                                    <use xlink:href="./img/sprite.svg#arrow-line"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="situation__column swiper-slide">
                        <div class="situation__left pd-32">
                            <div class="situation__person">
                                <div class="situation__avatar">
                                    <img src="img/avatar.webp" alt="avatar">
                                </div>
                                <p class="situation__name">Данил</p>
                                <p class="situation__job">Клиент</p>
                            </div>
                            <div class="situation__point fz-24"><span>Цель: покупка дома на вторичном рынке</span></div>
                            <div class="situation__describe">
                                <p class="situation__text">Жизненная ситуация:</p>
                                <ul class="situation__list">
                                    <li>Ранее получены 3 отказа в банках</li>
                                    <li>Система налогообложения ЕНВД с 0 декларациями</li>
                                    <li>Стаж ИП 1 год</li>
                                    <li>Покупка дома у родственников</li>
                                    <li>Отсутствие кредитной истории</li>
                                    <li>Отсутствие военного билета</li>
                                </ul>
                            </div>
                        </div>
                        <div class="situation__right pd-32">
                            <p class="situation__text fz-24"><span>Результат</span></p>
                            <p class="situation__result">Получено одобрение на покупку дома с ЗУ</p>
                            <ul class="situation__list-result list-reset">
                                <li>Срок: <span>2 дня</span></li>
                                <li>Ставка: <span>10,5%</span></li>
                                <li>Сумма кредита:<span></span>2 300 000 ₽</li>
                            </ul>
                            <a href="#" class="situation__link arr-rt">Больше кейсов
                                <svg width="20" height="24">
                                    <use xlink:href="./img/sprite.svg#arrow-line"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="situation__navigation">
                    <div class="swiper-button situation__button-prev swiper-button-prev">
                        <svg width="20" height="24">
                            <use xlink:href="./img/sprite.svg#arrow-line"></use>
                        </svg>
                    </div>
                    <div class="situation__pagination pagination swiper-pagination"></div>
                    <div class="swiper-button situation__button-next swiper-button-next">
                        <svg width="20" height="24">
                            <use xlink:href="./img/sprite.svg#arrow-line"></use>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>